#content{
	.row{
		// display: flex;
		// justify-content: center;
		//box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	}
	article{
		margin-top: 50px;
		position: relative;
		.entry-wrap{
			padding: 20px 98px 0px 98px;
			.post-tag{
				position: relative;
				left: 102%;
				background-color: rgba(92, 107, 192, 0.9);
				padding: 10px;
				max-width: 103px;
				text-align: center;
				color: #fff;
				font-family: 'lato-bold';
			}
		}
		padding-bottom: 50px;
	    
	    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	    background-color: #ffffff;
	}
	.page-num{
		nav.navigation.pagination{
			background: none;
			box-shadow: none;
		}
	}
}

.entry-wrap{
	float: none;
	margin: 0 auto;
}

.entry-header{
	font-family: 'lato-bold';
	h2.entry-title{
		font-size: 40px;
		a{
			color: #333333;
			&:hover{
				text-decoration: none;
				color: #5c6bc0;
			}
		}

	}
	.posted-on{
		a{
			font-size: 14px;
			color: #bdbdbd;
			&:hover{text-decoration: none;}
		}
	}
}
.entry-content{
	font-family: 'lato-regular';
	p{
		color: #000;
		opacity: 0.8;
		font-size: 17px;
	}
	a.moretag{
		color: #5c6bc0;
		font-size: 21px;
		text-transform: uppercase;
		font-family: 'lato-bold';
	}
	a.more-link{
		color: #5c6bc0;
		font-size: 21px;
		text-transform: uppercase;
		font-family: 'lato-bold';
		float: left;
		margin-top: 35px;
	}
}

article.quote{
	.quote-bg{
		position: absolute;
   		left: -20px;
   		top: 65px;
   		img{width: 80px;height: 60px;}
	}
	h1{
		font-family: 'lato-italic';
		font-size: 40px;
	}
}
article.video{
	.entry-footer{text-align: left;}
}

nav.navigation.pagination{
	padding-bottom: 100px;
	padding-top: 40px;
	width: 100%;
	text-align: center;
	font-family: 'lato-bold';
	font-size: 18px;
	.nav-links{
		span.page-numbers.current{
			padding: 10px 15px;
			background-color:  #5c6bc0;
			color: #fff;
			margin-right: 15px;box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.12);
		}
		a{
			margin-right:15px;
			padding: 10px 15px;
			background-color:  #fff;
			color: #000;
			box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.12);
			&:hover{
				text-decoration: none;
				background-color: #f2f2f2;
			}
			&.next,&.prev{
				display: none;
			}
		}
	}
}


/* OverRite for Material Carousel  */
.carousel .carousel-item {
    //width: 80%;
    //left: -30%;
   	width: 700px;
   	height: 500px;
   	margin-top: 150px;
}
.carousel{
	height: 400px;
}