body{
	word-wrap: break-word;
	background-color: #f7f9fc;
}
.row, .container, .container-960{
	content: '';
	display: block !important;
}
#page{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		left: 0;
		right: 50%;
		top: 0;
		height: 4px;
		background-color: #5c6bc0;
	}
}
.site-wrap{
	>.col-md-10{
		margin: 0 auto;
		float: none;
	}
}


.site-header{
	padding: 70px 0;
	&:before, &:after{
		display: none;
	}
	display: flex;
    align-items: center;
    justify-content: space-between;
    .site-branding{
    	h1{
    		font-family: 'lato-bolditalic';
    		margin: 0;
    		a{
    			color: #333333;
    			&:hover{
    				text-decoration: none;
    				color: purple;
    			}
    		}
    	}
    }
	
	

}
.head-searchform{
	padding-left: 15px;
	float: left;
	position: relative;
	i{font-size: 17px;color: #333333;}
	.my-searchform{

		a{float: right;}
	    form.search-form{
			label{margin-bottom: 0}
		    margin-left: 10px;
		    float: left;
		    .search-submit{display: none}
		    .search-field{
		    	height: inherit;
		    	margin-bottom: 0;
		    	transition: none;
		    	width: 200px;
		    	background-color: #F7F9FC;
			    border: none;
			    border-radius: 0;
			    border-bottom: 1px solid;
			    padding: 0;
			    display: none;
			    position: relative;
			    &:focus{
			    	outline: -webkit-focus-ring-color auto 0px;
			    	border-bottom: 1px solid rgba(15, 142, 17, 0.59);
			    }
		    }
	    }
	}
	.my-searchform-footer{

		a{float: right;}
	    form.search-form{
			label{margin-bottom: 0}
		    margin-left: 10px;
		    float: left;
		    .search-submit{display: none}
		    .search-field{
		    	height: inherit;
		    	margin-bottom: 0;
		    	transition: none;
		    	width: 200px;
		    	background-color: #5C6BC0;
			    border: none;
			    border-radius: 0;
			    border-bottom: 1px solid #fff;
			    padding: 0;
			    display: none;
			    position: relative;
			    &:focus{
			    	outline: -webkit-focus-ring-color auto 0px;
			    	border-bottom:1px solid rgba(15, 142, 17, 0.59);
			    }
		    }
		    
	    }
	}

}